@{
  Layout = "_Layout";
}

<body class="product-list">
  <div class="product-container">

    @foreach (Product product in Model)
    {
      <div class="product-tile">
        <strong>@product.Brand</strong> the @product.Type | @product.Name 
        <img style="max-height: 150px; min-height: 150px; max-width: 200px; object-fit: contain;" src="@product.ImageLink"
        alt="@product.Name">
        <a href="/Products/Details/@(product.ProductId)">View Details</a>
      </div>

    }
  </div>


    <button class="btn btn-primary btn-xl"id="next-page-btn">Next Page</button>

    <script>
      let pageNumber = 1;
      const nextPageBtn = document.getElementById('next-page-btn');

      nextPageBtn.addEventListener('click', () => {
        pageNumber++;
        const url = "@Url.Action("Index", "Products")?query=pageNumber=" + pageNumber;
        window.location.href = url;
      });
    </script>


</body>
