@{
  Layout = "_Layout";
}

    <a href="@Url.Action("Index", "Products", new { type = "CPU", showAll = true })" class="login-button" >View CPU Products</a>
    <a href="@Url.Action("Index", "Products", new { type = "GPU", showAll = true })" class="login-button" >View GPU Products</a>
    <a href="@Url.Action("Index", "Products", new { type = "RAM", showAll = true })" class="login-button" >View RAM Products</a>
    <a href="@Url.Action("Index", "Products", new { type = "Motherboard", showAll = true })" class="login-button">View Motherboard Products</a>
    <a href="@Url.Action("Index", "Products", new { type = "PSU", showAll = true })" class="login-button"  >View PSU Products</a>
    <a href="@Url.Action("Index", "Products", new { type = "FAN", showAll = true })" class="login-button">View Fan Products</a>
    <a href="@Url.Action("Index", "Products", new { type = "CASE", showAll = true })" class="login-button">View Case Products</a>
    <a href="@Url.Action("Index", "Products", new { type = "SSD", showAll = true })" class="login-button">View SSD Products</a>

<body class="product-list">
  <div class="product-container">

    @foreach (Product product in Model)
    {
      <div class="product-tile">
        <strong>@product.Brand</strong> @product.Type | @product.Name
        <img style="max-height: 150px; min-height: 150px; max-width: 200px; object-fit: contain;" src="@product.ImageLink"
        alt="@product.Name">
        <a href="/Products/Details/@(product.ProductId)">View Details</a>
      </div>

    }
  </div>


  <button class="btn btn-primary btn-xl" id="next-page-btn">Next Page</button>

  <button class="btn btn-primary btn-xl" id="previous-page-btn">Previous Page</button>

  <script>
    const urlParams = new URLSearchParams(window.location.search);
    let pageNumber = urlParams.has('query') ? parseInt(urlParams.get('query').split('=')[1]) : 1;

    const nextPageBtn = document.getElementById('next-page-btn');

    nextPageBtn.addEventListener('click', () => {
      pageNumber++;
      if (pageNumber > 3) {
        pageNumber = 3
      }
      const url = "@Url.Action("Index", "Products")?query=pageNumber=" + pageNumber;
      window.location.href = url;
    });

    const prevPageBtn = document.getElementById('previous-page-btn');

    prevPageBtn.addEventListener('click', () => {
      pageNumber--;
      if (pageNumber <= 0) {
        pageNumber = 1
      }
      const url = "@Url.Action("Index", "Products")?query=pageNumber=" + pageNumber;
      window.location.href = url;
    });
  </script>


</body>
