@{
    ViewData["Title"] = "Products";
}

<h1>All TravelAPI Products</h1>

<h3>Actions:</h3>

<p>@Html.ActionLink("Add a new product to the park", "Create")</p>

<h3>Products:</h3>
<ol>
@foreach (Product product in Model)
{
  <li><strong>@product.Brand</strong> the @product.Type |  @product.Name | <img  style="max-height: 150px; max-width: 200px; object-fit: contain;" src="@product.ImageLink"> |<a href="/Products/Details/@(product.ProductId)">View Details</a></li>
}
</ol>

<a href="Products">Next</a>