@{
    ViewData["Title"] = "Products";
}

<h1>All products</h1>

<h3>Actions:</h3>

<p>@Html.ActionLink("Add a new destination to the park", "Create")</p>

<h3>Products:</h3>
<ol>
@foreach (Product product in Model)
{
  <li><strong>@product.Type</strong> @product.Brand | @product.Name | @product.Price | @product.Description <a href="/Products/Details/@(product.ProductId)">View Details</a></li>
}
</ol>

