@{
    Layout = "_Layout";
}


@using Microsoft.AspNetCore.Identity
@using EcommerceSite.Models
@inject SignInManager<ApplicationUser> SignInManager


@foreach (Product product in ViewBag.Products)
{
  @foreach (AppuserProduct join in Model.JoinEntites)
  {
    if (join.ProductId == product.ProductId)
    {
      <li>
        <strong>@product.Brand</strong> the @product.Type |  @product.Name |
        <img style="max-height: 150px; min-height: 150px; max-width: 200px; object-fit: contain;" src="@product.ImageLink" alt="@product.Name">
        | <a href="/Products/Details/@(product.ProductId)">View Details</a>
      </li>
    }
  }
}