@{
    Layout = "_Layout";
}

<div class="loginpage">

    <div class="login-container">
        <div class="login-creds">

                <h3>Login Here</h3>

                @using EcommerceSite.ViewModels

                @model LoginViewModel
                <hr />

                @if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
                }

                @using (Html.BeginForm())
                {
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)

                    @Html.LabelFor(m => m.Password)
                    @Html.EditorFor(m => m.Password)

                    <input type="submit" value="Log in" />
                }
                <p id="register-link">@Html.ActionLink("Register", "Register", null, new { @class = "register-link" })</p>
        </div>


    </div>
</div>

</div>
